* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6em;
}


body {
    height: 100vh;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.div1 {
    background-color: green;
}

.div2 {
    background-color: green;
}

.div3,
.div4{
    background-color: yellow;
}
.div5{
     background-color: pink;
}
.div6 {
    background-color: blue;
}

@media (max-width: 400px) {

    *{
        font-size: 1.2em;
    }

     .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh 25vh;
    }

    .div1{
        grid-column: span 2;
        order: 6;
    }

    .div2 {
        grid-column: span 2;
        order: 5;
    }

    .div3{
        order: 3;
    }
    .div4{
        order: 4;
    }
    .div5{
        grid-column: span 2;
        order: 2;
        background-color: blue;
    }
    .div6 {
        grid-column: span 2;
        background-color: pink;
    }

}
